body {
	background: #1a1a1a url(../img/black_lozenge/black_lozenge.png);
	color: #ccc;
	margin: 0;
	padding: 2em 2em 1.5em 2em;
	font: 100% Cardo, serif;
}

@media all and (max-width: 48em) { /* Same as #wrapper width. */
	body { padding: 1em; }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	body {
		background-image: url(../img/black_lozenge/black_lozenge_@2X.png);
		background-size: 38px 38px;
	}
}

#wrapper {
	max-width: 80em;
	margin: 0 auto;
}

p { margin: 1em 0 0 0; }

h1, h2, h3 {
	margin: 0;
	color: #fdd017;
}

h2, h3 { font-style: italic; }

h1 {
	font: 700%/1.1 "Miss Fajardose", cursive;
	text-shadow: 0 0 0.1em rgba(253, 208, 23, 0.7);
	text-align: center;
}

h2 { margin: 1em 0; }

h1 + h2 { margin-top: 0; }

h4 {
	font-size: 100%;
	margin: 1.25em 0 0.75em 0;
}

a {
	color: rgb(253, 208, 23);
	text-decoration: none;
	border-bottom: 0.1em solid rgba(253, 208, 23, 0.5);
}
	a:hover,
	.image-link:hover + h3 a {
		color: rgb(253, 231, 41);
		border-bottom: 0.1em solid rgb(253, 231, 41);
	}

.image-link { border: none; }

	.image-link:hover { border: none; }

#releases { margin-top: 1em; }

	.release {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-color: #1a1a1a; /* Will be replaced by adaptive background color using JavaScript. */
		padding: 1em;
		display: inline-block;
		width: 25%;
		text-align: center;
	}
		/* Gradually split the release grid into fewer and fewer columns as the
		page width gets smaller, which works nicely all the way down to mobile. */

		@media all and (max-width: 84em) { /* Same as #wrapper width + body padding. */
			.release { width: 33.33333%; }
		}

		@media all and (max-width: 64em) {
			.release { width: 50%; }
		}

		@media all and (max-width: 48em) {
			.release { width: 100%; }
		}

		.release img {
			margin-top: 0.5em;
			-webkit-box-shadow: 0 0 0.5em 0 rgba(20, 20, 20, 0.7);
			box-shadow: 0 0 0.5em 0 rgba(20, 20, 20, 0.7);
		}

		.release .year {
			font-size: 110%;
			display: inline-block;
			margin-top: 0.25em;
		}

#concerts a {
	display: inline-block;
	margin: 0 0 0.5em 1em;
}

#links {
	list-style: none;
	margin: 0;
	padding: 0;
}
	#links li {
		display: inline-block;
		margin: 0 0 0.5em 1em;
	}
		#links li:first-child { margin-left: 0; }

#footer { padding-top: 1em; }
